.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    background: linear-gradient(#e66465, #9198e5);
}

img{
    height: 210px;
    width: 300px;
}

#summary {
    grid-column: 2/4;
    grid-row: 1;
    position: absolute;
    height: 200px;
    width: 1190px;
    left: 320px;
}

#contact {
    grid-column: 1;
    grid-row: 2;
    position: absolute;
    top: 220px;
    width: 300px;
}

#skills {
    grid-column: 1;
    grid-row: 3/4;
    position: absolute;
    top: 440px;
    width: 300px;
    height: 300px;
}

#work {
    grid-column: 2/4;
    grid-row: 2/4;
    position: absolute;
    top: 220px;
    left: 320px;
    width: 1190px;
    height: 500px;
}

#education {
    grid-column: 1;
    grid-row: 4;
    position: absolute;
    top: 750px;
    width: 500px;
    height: 130px;
}

#certificates {
    grid-column: 2;
    grid-row: 4;
    position: absolute;
    top: 750px;
    left: 520px;
    width: 495px;
}

#interests {
    grid-column: 3;
    grid-row: 4;
    position: absolute;
    top: 750px;
    left: 1025px;
    width: 485px;
}

#rating-3 {
    height: 25px;
    width: 100px;
}

#rating-2 {
    height: 25px;
    width: 75px;
}

#rating-5 {
    height: 25px;
    width: 150px;
}

#skill {
    font-weight: bold;
}

.card .title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

li.company{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

@media (max-width: 1200px) and (min-width: 481px) {
    #summary {
        grid-column: 2/4;
        grid-row: 1;
        position: absolute;
        height: 200px;
        width: 890px;
        left: 320px;
    }

    #interests {
        grid-column: 3;
        grid-row: 4;
        position: absolute;
        top: 750px;
        left: 1025px;
        width: 285px;
    }
  }
